<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--Requerido por Google Play para apps que usan el Advertising ID (AdMob)
        en Android 13+. tools:node="merge" evita que otro manifest lo pise
        durante el merge de Gradle.-->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"
                     tools:node="merge" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <!--App ID de AdMob. Tambien lo aporta el androidlib del plugin, pero
            declararlo aca garantiza que quede en el manifest final: si falta,
            el SDK aborta al inicializar y no se sirve ni un anuncio (en el
            editor no se nota porque usa placeholders).-->
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID"
                   android:value="ca-app-pub-2266949018056491~9616893306" />
        <!--Used when Application Entry is set to Activity, otherwise remove this activity block-->
        <activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:theme="@style/UnityThemeSelector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
        <!--Used when Application Entry is set to GameActivity, otherwise remove this activity block-->
        <activity android:name="com.unity3d.player.UnityPlayerGameActivity"
                  android:theme="@style/BaseUnityGameActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
            <meta-data android:name="android.app.lib_name" android:value="game" />
        </activity>
    </application>
</manifest>
